.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.left,
.right{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.left{
  width: 56%;
}

.right{
  width: 44%;
}

.left>span{
  padding: 0px 10px;
  width: 100%;
  border-bottom: .5px #000 solid;
  border-right: .5px #000 solid;
  display: inline-block;
  font-weight: 600;
}

.left>span:first-child{
  height: 56.5px;
  padding: 5px 10px;
}

.right>div{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: inline-block;
  font-size: .6rem;
}

.right>div>span{
  text-transform: uppercase;
  display: inline-block;
  border-right: .5px #000 solid;
  border-bottom: .5px #000 solid;
  padding: 1.5px 1px;
}


.right>div>span:first-child{
  min-width: 142.5px;
  font-size: 0.5rem;
  border-right: none;
}
.right>div>span:nth-child(2){
  min-width: 71px;
  text-align: end;
  padding-right: 5px;
  font-weight: 750;
  border-left: .5px #000 solid;
}
.right>div>span:last-child{
  min-width: 28px;
  border-right: none;
  font-weight: 750;
}

.bankDetails{
  font-size: 10px;
}

.bold{
  font-weight: 650;
}


.amountInWords{
  font-weight: 650;
  text-transform: uppercase;
}